# This is the Running of the csv

In [1]:
# Import neccessary functions
import time
import re
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

In [2]:
# Define function to help us click to next page
def check_exists_by_xpath(xpath):
    try:
        browser.find_element(By.XPATH,xpath)
    except NoSuchElementException:
        return False
    return True

In [3]:
# Dictionary of the universities which will become a part of the .csv file
# There is the school name correlated with the coresponding integer which applies to the rate my professor website url code
# 126 schools
school_number_dict = {"Baruch College": 222, "Fordham University": 1325, "City College of New York": 224,
        "Hunter College":226, "Queens College of New York": 231, "The New School": 1519,
        "Brooklyn College": 223, "Yeshiva University": 1223, "Fashion Institute of Techonology": 975,
        "John Jay": 227,  "Montclair State University": 630, "New York City College of Technology": 230,
        "Drew Univeristy": 1314, "Manhattan College": 557, "SUNY Maritime": 976, "York College": 1224,
        "Marymount University": 574, "Hofstra University": 413, "Lehman College": 228,
        "Pace University": 12151, "Sarah Lawrence College": 883, "Vaughn College": 15545,
        "College of Staten Island": 225, "Medgar Evers College": 229, "Stevens Institute of Technology": 982,
        "Wagner College": 1129, "Purchase College": 970, "Kean Univeristy": 478, "St. Francis College": 3975,
        "Molloy College": 623, "Plaza College": 2697, "Saint Elizabeth": 4160, "Monmouth University": 625,
        "Saint John's Univeristy": 842, "Iona Univeristy": 451, "Saint Thomas Aquinas College": 4409,
        "Mercy College": 592, "Monroe College": 2482, "Webb Institute": 1152, "Touro University": 1024,
        "Metropolitan College of New York": 5585, "ASA College": 5069, "Manhattanville College": 558,
        "New York University": 675, "Stony Brook University": 971, "Seton Hall Sniversity": 892,
        "Adelphi University": 6, "Farmingdale State College": 14046, "Wells College": 1157,
        "Niagara University": 678, "Columbia University": 278, "Hunter College": 226,
        "Long Island University": 527, "SUNY Purchase": 970, "Rutgers": 4939, "New Jersey Institute of Technology": 668,
        "Vassar College": 4070, "Fairfield University": 1351, "Seton Hall": 892, "Cornell University": 298,
        "Colgate University": 252, "Hamilton College": 389, "University of Rochester": 1331, "Skidmore College": 907,
        "Union College": 1044, "Binghamton University": 958, "Syracuse University": 992, "University at Buffalo": 960,
        "St. Bonaventure University": 832, "Rochester Institute of Technology": 807, "St. Lawrence University": 847,
        "Clarkson University": 240, "D'Youville College": 4638, "St. John Fisher University": 1628, "SUNY New Paltz": 964,
        "Marist College": 563, "Le Moyne College": 506, "SUNY Oneonta": 966, "University at Albany": 957,
        "Nazareth College": 661, "Ithaca College": 453, "Utica University": 4137, "SUNY Oswego": 967, "SUNY Plattsburgh": 968,
        "SUNY Cortland": 961, "SUNY Maritime College": 976, "Canisius College": 175, "Hilbert College": 4499,
        "SUNY Brockport": 1549, "Daemen College": 4135, "Siena College": 900, "Boricua College ": 4775,
        "SUNY Delhi": 4414, "SUNY Geneseo": 963, "Elmira College": 332, "Hartwick College": 398, "York College": 1224,
        "Yale University": 1222, "Wesleyan University": 1161, "Trinity College": 1030, "University of Connecticut": 1091,
        "Quinnipiac University": 787, "Sacred Heart University": 827, "University of New Haven": 4159,
        "Albertus Magnus College": 16, "University of Hartford": 1103, "University of Bridgeport": 1071,
        "Mitchell College": 4485, "Goodwin University": 5260, "The College of Saint Rose": 14032,
        "Paier College of Art": 5731, "Princeton University": 780, "The College of New Jersey": 256, "Rowan University": 822,
        "Stockton University": 800, "Rider University": 801, "Ramapo College of New Jersey": 13744, "Caldwell University": 144,
        "New Jersey City University": 4527, "Centenary University": 1627, "Cazenovia College": 190,
        "Felician University": 4507, "Saint Peter's University": 864, "Bloomfield College": 4478,
        "Eastwick College": 5574, "Berkeley College": 1723, "Pillar College": 4300, "Thomas Edison State University": 1016}

In [4]:
# Moving the csv file with the dataframe scraped previously into a variable
data_frame_name = 'School Info Data.csv'

# Pulling the .csv file into a new dataframe with the indication that the first column is an index column
school_data_dataframe = pd.read_csv(data_frame_name, index_col = 0)

In [5]:
school_data_dataframe

,School Name,Overall Rating,Facilities,Reputation,Opportunities,Happiness,Location,Safety,Clubs,Social,Internet,Food
0,Baruch College,3.4,3.2,4.0,3.8,3.5,4.2,4.1,3.4,2.9,3.2,2.8
1,Fordham University - Rose Hill,3.8,4.2,4.3,4.2,4.2,4.1,3.8,3.7,3.7,3.0,2.5
2,City College of New York,3.2,3.3,3.5,3.3,3.3,3.3,3.2,3.1,2.9,3.0,2.6
3,Hunter College,3.0,2.8,3.6,3.1,3.1,3.8,3.9,2.8,2.5,3.1,2.4
4,CUNY Queens College,3.3,3.6,3.6,3.2,3.4,3.5,4.0,3.1,2.8,3.1,2.8
...,...,...,...,...,...,...,...,...,...,...,...,...
121,Bloomfield College,2.9,2.9,3.1,3.0,2.7,3.4,3.9,2.7,2.5,2.6,2.3
122,Eastwick College,3.4,3.8,3.8,3.5,3.5,4.3,3.5,2.3,2.5,4.0,3.3
123,Berkeley College,3.0,3.0,3.0,3.0,3.3,3.3,3.4,2.4,2.7,3.3,2.7
124,Pillar College,3.6,3.4,4.3,3.7,4.3,3.9,4.0,2.9,3.6,4.4,2.7
125,Thomas Edison State University,3.1,3.1,3.4,3.3,3.5,3.7,3.7,2.4,2.5,3.6,2.8

In [6]:
# A list of the ten features to reference back to and check for existence
feature_list = ['Facilities', 'Reputation', 'Opportunities', 'Happiness', 'Location', 
                'Safety', 'Clubs', 'Social', 'Internet', 'Food']

# The user is asked whether they want to create an overall rating based on their categorical preferences
weight_ask = input('Would you like to have a preferred features for your college recommendation?\n>>')
# Making it lowercase to save an if statement
weight_ask = weight_ask.lower()
# for the while statment to come
while_variable = 0

# Should the user want to make their weighted ranking, assuming they entered 'yes', the if following statment would run
if weight_ask == 'yes':
    # The user will select 5 different features
    print('Please enter your top 5 preferences, ranked most important to least important')
    
    while while_variable == 0:
        # Presents options and then asks the user to enter from the list
        print('Here are the feature options:\n', feature_list)
        weight_one = input('\nWhat is your most important feature?\n>>')
        # Checking if the input is in the feature list
        if weight_one in feature_list:
            # Telling it to break the while loop if so
            while_variable += 1
        
        # If not the user will be told and be forced to try again until successul
        else:
            print('\n\n\n\nYour choice was not in the feature list.\nPlease try again, copied exactly from the list\n')
    
    # New while loop, new while_variable
    while_variable = 0
    
    # Second feature to choose from
    while while_variable == 0:
        # Options presented once again
        print('Here are the feature options:\n', feature_list)
        # the entering of the second choice
        weight_two = input('\nWhat is your second most important feature?\n>>')
        # Making sure a different feature is chosen from the first one
        if weight_one == weight_two:
            print('Please select a different feature')
        # breaking of the loop should that be done
        elif weight_two in feature_list:
            while_variable += 1
        # Once again, the user will be forced to enter until they choose a new and correctly typed feature
        else:
            print('\n\n\n\nYour choice was not in the feature list.\nPlease try again, copied exactly from the list\n')
    
    # third while_variable
    while_variable = 0
    
    # Third feature
    while while_variable == 0:
        # again...
        print('Here are the feature options:\n', feature_list)
        weight_three = input('\nWhat is your third feature?\n>>')
        
        # More opportunity for same features so more if statements
        if weight_one == weight_three:
            print('\n\n\n\nPlease select a different feature')
        elif weight_three == weight_two:
            print('\n\n\n\nPlease select a different feature')
        # Break the loop
        elif weight_three in feature_list:
            while_variable += 1
        # or don't
        else:
            print('\n\n\n\nYour choice was not in the feature list.\nPlease try again, copied exactly from the list\n')
    
    # fourth while_variable
    while_variable = 0
            
    # Fourth feature
    while while_variable == 0:
        # Options presented
        print('Here are the feature options:\n', feature_list)
        weight_four = input('\nWhat is your fourth feature?\n>>')
        
        # Even more opportunity for failure
        if weight_one == weight_four:
            print('\n\n\n\nPlease select a different feature')
        elif weight_three == weight_four:
            print('\n\n\n\nPlease select a different feature')
        elif weight_two == weight_four:
            print('\n\n\n\nPlease select a different feature')
            
        # Be gone loop
        elif weight_four in feature_list:
            while_variable += 1
        # Remain loop
        else:
            print('\n\n\n\nYour choice was not in the feature list.\nPlease try again, copied exactly from the list\n')
      
    # fifth while_variable
    while_variable = 0
    
    # Final feature
    while while_variable == 0:
        
        # Final selection
        print('Here are the feature options:\n', feature_list)
        weight_five = input('\nWhat is your last feature?\n>>')
        
        # Final check for repeats
        if weight_one == weight_five:
            print('\n\n\n\nPlease select a different feature')
        elif weight_three == weight_five:
            print('\n\n\n\nPlease select a different feature')
        elif weight_two == weight_five:
            print('\n\n\n\nPlease select a different feature')
        elif weight_four == weight_five:
            print('\n\n\n\nPlease select a different feature')
            
        # Final break of the loop
        elif weight_five in feature_list:
            while_variable += 1
        
        # Final chance for failure
        else:
            print('\n\n\n\nYour choice was not in the feature list.\nPlease try again, copied exactly from the list\n')
    
    # A list which will hold the weighted rankings based on the user's choices
    weighted_list = []

    # For loop which runs 126 times based on the number of schools in our list    
    for school in range(0,len(school_data_dataframe)):

        # Feature list presented in the for loop so it can be changed and reappear for each school
        feature_list = ['Facilities', 'Reputation', 'Opportunities', 'Happiness', 'Location', 
                    'Safety', 'Clubs', 'Social', 'Internet', 'Food']
        
        # The number one choice of feature given the highest weight of .23 or 23%
        # It is grabbing the actual score from the dataframe and then applying its weight
        one = (school_data_dataframe[weight_one][school]*0.23)
        # Specified feature removed from the list 
        feature_list.remove(weight_one)
        
        # Second choice feature, second highest weight: 20%
        two = (school_data_dataframe[weight_two][school]*0.20)
        # Specified feature removed from the list 
        feature_list.remove(weight_two)
        
        # Third feature: 15%
        three = (school_data_dataframe[weight_three][school]*0.15)
        # Specified feature removed from the list 
        feature_list.remove(weight_three)
        
        # Fourth: 10%
        four = (school_data_dataframe[weight_four][school]*0.10)
        # Specified feature removed from the list 
        feature_list.remove(weight_four)
        
        # Fifth: 7%
        five = (school_data_dataframe[weight_five][school]*0.07)
        # Specified feature removed from the list 
        feature_list.remove(weight_five)
        
        # Creating a variable to use 
        more = 0
        
        # Running the remaining five features which are left after the user selected five were removed
        for item in feature_list:
            
            # Each remaining feature is given an equal weight of 5%
            more = more + (school_data_dataframe[item][school]*0.05)
        
        # Hence, the final weighted ranking of the school is created
        # 100% based on the user's choices
        total = one + two + three + four + five + more
        
        # The weighted score is added to the list for all schools
        weighted_list.append(total)
    
    # Adding this column to the dataframe
    school_data_dataframe['Weighted Overall Rating'] = weighted_list
    
    # Creating a dataframe which has the new rating and ranks the schools accordingly
    final_df = school_data_dataframe.sort_values(by=['Weighted Overall Rating'], ascending=False)
    
    # Print statement for the following showing
    print('\n\n\n\nHere are your top three colleges')

# For those who did not want to add their own weights
else:
    # final_df is still created though weighted overall rating is not in it
    print('It\'s ok, the original list is fine')
    # Rank is by rate my professor overall rating instead
    final_df = school_data_dataframe.sort_values(by = ['Overall Rating'], ascending = False)
    print('\n\n\n\nHere are the top three colleges based on Rate My Professors overall rating')
    
# Top three colleges
top_three_df = final_df.head(3)

# Top three shown 
top_three_df

Would you like to have a preferred features for your college recommendation?
>>yes
Please enter your top 5 preferences, ranked most important to least important
Here are the feature options:
 ['Facilities', 'Reputation', 'Opportunities', 'Happiness', 'Location', 'Safety', 'Clubs', 'Social', 'Internet', 'Food']

What is your most important feature?
>>Opportunities
Here are the feature options:
 ['Facilities', 'Reputation', 'Opportunities', 'Happiness', 'Location', 'Safety', 'Clubs', 'Social', 'Internet', 'Food']

What is your second most important feature?
>>Happiness
Here are the feature options:
 ['Facilities', 'Reputation', 'Opportunities', 'Happiness', 'Location', 'Safety', 'Clubs', 'Social', 'Internet', 'Food']

What is your third feature?
>>Location
Here are the feature options:
 ['Facilities', 'Reputation', 'Opportunities', 'Happiness', 'Location', 'Safety', 'Clubs', 'Social', 'Internet', 'Food']

What is your fourth feature?
>>Clubs
Here are the feature options:
 ['Facilities', 'Reputation', 'Opportunities', 'Happiness', 'Location', 'Safety', 'Clubs', 'Social', 'Internet', 'Food']

What is your last feature?
>>Food




Here are your top three colleges

,School Name,Overall Rating,Facilities,Reputation,Opportunities,Happiness,Location,Safety,Clubs,Social,Internet,Food,Weighted Overall Rating
109,Princeton University,4.4,4.5,4.7,4.4,4.4,4.2,4.9,4.2,4.2,4.0,4.2,4.351
58,Cornell University,4.4,4.6,4.8,4.5,4.3,3.5,4.4,4.3,4.0,4.4,4.4,4.268
38,Webb Institute,0.0,4.4,5.0,4.9,4.4,4.1,0.0,4.3,4.0,4.6,3.7,4.211

In [7]:
#final_df

In [8]:
#school_data_dataframe = school_data_dataframe.loc[(school_data_dataframe['Weighted Overall Rating'] >= 4.0)]

# The user will now select a school from the list and then get professors from rate my professsor

In [13]:
# Reprise of while_variable
while_variable = 0

# The user must now select one of the schools appearing in their top three
while while_variable == 0:
    # User input of school
    school_choice = input('\nPlease enter the school of your choice\n>>')
    
    # If they spelled the school correctly
    if school_choice in school_number_dict:
        while_variable += 1
    # If not
    else:
        print('\n\n\n\nYour selection was not in the college list, please try again\nThe list is case sensitive')

# In order to create the url once again, now for the professors
school_id = school_number_dict[school_choice]

# Int to string
school_id = str(school_id)

Please enter the school of your choice
>>Princeton University

In [15]:
######## This is foundation for scraping professor grades

# Establish name of movie, the amount of pages needed, and broswer.
#school_id = "842"
#number_of_professors = 40

# My chromedriver path
path = "C:\\Users\\benri\\Downloads\\chromedriver_win32 (4)\\chromedriver"
s=Service(path)
browser = webdriver.Chrome(service=s)

# Creates the url for the school using the school id of the selected university
link = "https://www.ratemyprofessors.com/search/teachers?query=*&sid=" + school_id
browser.get(link)

# Waits 20 seconds after the page has loaded so that all of the ads pop up
time.sleep(20)

# Close out the box talking about cookies
try:
    if (check_exists_by_xpath('//img[@class="FullPageModal__StyledCloseIcon-sc-1tziext-0 eJtQsN"]')):
        browser.find_element(By.XPATH,'//img[@class="FullPageModal__StyledCloseIcon-sc-1tziext-0 eJtQsN"]').click()
        time.sleep(1)
except:
    print("could not click")
    pass

# Skip ad popup if present
try:
    if (check_exists_by_xpath('//a[@class="bx-close bx-close-link bx-close-inside"]')):
        browser.find_element(By.XPATH,'//a[@class="bx-close bx-close-link bx-close-inside"]').click()
        time.sleep(1)
except:
    print("could not click")
    pass

# Skip ad popup if present
try:
    if (check_exists_by_xpath('//div[@class="IL_BASE IL_SR_BG"]')):
        browser.find_element(By.XPATH,'//div[@class="IL_BASE IL_SR_BG"]').click()
        time.sleep(1)
except:
    print("could not click")
    pass

# Empty list of the characteristics of the professor
names = []
ratings = []
subject = []
school = []
number_of_rating = []

#for i in range(0, number_of_professors):
# use selenium to go to the next page
# Max at 500 pages
for item in range(0,500):
    
    if (check_exists_by_xpath('//button[@class="Buttons__Button-sc-19xdot-1 PaginationButton__StyledPaginationButton-txi1dr-1 gjQZal"]')):
        browser.find_element(By.XPATH,'//button[@class="Buttons__Button-sc-19xdot-1 PaginationButton__StyledPaginationButton-txi1dr-1 gjQZal"]').click()
        time.sleep(1)
    else: break

    # parse to a soup
page_source = browser.page_source
# Grabbing the necessary html
soup = BeautifulSoup(page_source, 'lxml')
reviews_content = soup.find_all('a', class_='TeacherCard__StyledTeacherCard-syjs0d-0 dLJIlx')

# For each group of html considering each professor
for review in reviews_content:
    
    # Grab the name of the professor
    name = review.find('div', class_='CardName__StyledCardName-sc-1gyrgim-0 cJdVEK').text
    
    # When grabbing the rating, each class is associated to its color background based on its score
    # This is the same as the scores in the ratings of the schools
    # Hence, there are if statements for each situation
    if review.find('div',{'class':re.compile("CardNumRating__CardNumRatingNumber-sc-17t4b9u-2 gcFhmN")}):
        rating1 = review.find('div',{'class':re.compile("CardNumRating__CardNumRatingNumber-sc-17t4b9u-2 gcFhmN")}).text.strip()
        # Adding each one to the list and making them floats
        ratings.append(float(rating1))
    elif review.find('div',{'class':re.compile("CardNumRating__CardNumRatingNumber-sc-17t4b9u-2 icXUyq")}):
        rating2 = review.find('div',{'class':re.compile("CardNumRating__CardNumRatingNumber-sc-17t4b9u-2 icXUyq")}).text.strip()
        ratings.append(float(rating2))
    elif review.find('div',{'class':re.compile("CardNumRating__CardNumRatingNumber-sc-17t4b9u-2 bUneqk")}):
        rating3 = review.find('div',{'class':re.compile("CardNumRating__CardNumRatingNumber-sc-17t4b9u-2 bUneqk")}).text.strip()
        ratings.append(float(rating3))
    # in the case that the rating does not exist
    else:
        ratings.append(float(0.0))
    
    # making a list of htmls containing the number of ratings which the professor has recieved
    number_of_ratings = review.find("div", {"class":re.compile("CardNumRating__CardNumRatingCount-sc-17t4b9u-3 jMRwbg")})
    
    # Grabbing the number of ratings which the professor has recieved
    if number_of_ratings:
        number_of_ratings = number_of_ratings.text.strip()
        
    # Grabbing the subject taught of the professor
    subjects = review.find('div', class_='CardSchool__Department-sc-19lmz2k-0 haUIRO').text
        
    # append to our accumulative lists
    names.append(name)
    number_of_rating.append(number_of_ratings)
    subject.append(subjects)

# In the case that there is no rating
new_ratings = []
for none in ratings:
    # So that there is always a float to work with
    if none is None:
        none = float(0.0)
        new_ratings.append(none)
    else:
        new_ratings.append(float(none))

In [16]:
# Dictionary of the professors stats
data = {"Name": names, "Rating": new_ratings, "Number of Ratings": number_of_rating, "Subject": subject}
Rate_My_Professor_Dict = {"Name": names, "Rating": new_ratings, "Number of Ratings": number_of_rating, "Subject": subject}
# Creation of the professors dataframe
Rate_My_Professor_Dataframe = pd.DataFrame(data)

In [17]:
Rate_My_Professor_Dataframe

                 Name  Rating Number of Ratings            Subject
0         Joshua Katz     5.0        10 ratings           Classics
1    Jennifer Johnson     4.1         5 ratings        Mathematics
2       Morton Kostin     2.8         5 ratings        Engineering
3       Robert Bagley     4.5         5 ratings        Art History
4           Ron Comer     4.3        14 ratings         Psychology
..                ...     ...               ...                ...
277        Kaiwen Luo     0.0         0 ratings            Physics
278     Jason Yonover     0.0         0 ratings         Philosophy
279         Nieng Yan     0.0         0 ratings            Biology
280       Frances Lee     0.0         0 ratings  Political Science
281           HV Poor     1.0         1 ratings        Engineering

[282 rows x 4 columns]

In [49]:
#Rate_My_Professor_Dataframe.to_csv('NYU Professors.csv')

In [50]:
final_professor_df = Rate_My_Professor_Dataframe.loc[(Rate_My_Professor_Dataframe['Rating'] > 4.7)]

final_professor_df

                         Name  Rating Number of Ratings                Subject
6             Mitchell Miller     4.9        17 ratings             Philosophy
7            Michael McCarthy     4.9        12 ratings             Philosophy
13             Eileen Leonard     4.8        25 ratings              Sociology
32            William Gifford     5.0         5 ratings                English
44               Anne Parries     4.9        17 ratings                Chinese
52          Elliott Schreiber     4.9        15 ratings                 German
57         Ann Constantinople     5.0         1 ratings             Psychology
58                Steve Rooks     5.0        10 ratings            Physical Ed
72           Rachel Kitzinger     4.9         4 ratings               Classics
75                Jane Parker     5.0         3 ratings            Physical Ed
99       Nelson (jay) Carreon     5.0         3 ratings              Chemistry
117               Markus Nehl     5.0         1 ratings                 German
158         Isolde Brielmaier     5.0         1 ratings                    Art
162             Paul O'Connor     4.8         7 ratings          Dramatic Arts
165             Wendy Ikemoto     4.8         4 ratings            Art History
166             Ralph Sassone     4.8         2 ratings                English
170         Marilynn Garzione     5.0         2 ratings       Hispanic Studies
190             Michael Reyes     4.9         7 ratings                 French
195             José Perillán     5.0         9 ratings                Physics
207           Samantha Vernon     5.0         2 ratings                    Art
208            Kathy Campbell     5.0         2 ratings     Physical Education
219   Kimberly Williams Brown     4.8         6 ratings              Education
222                  Long Bui     5.0         1 ratings              Sociology
225            Jaime Del Razo     4.8         4 ratings              Education
229             Jonathan Penn     5.0         1 ratings     Physical Education
232              Emily Warner     5.0         1 ratings            Art History
233       Filippo Gianferrari     5.0         2 ratings                Italian
239          Joseph Muszynski     5.0         1 ratings                   Film
247               Freya Irani     5.0         3 ratings      Political Science
248               Elias Krell     5.0         1 ratings        Women's Studies
255             John Long Jr.     4.8        20 ratings                Biology
275             Barbara Olsen     5.0        19 ratings               Classics
290               Yvonne Elet     4.8         9 ratings                    Art
294       Kirsten Wesselhoeft     5.0         3 ratings         Judaic Studies
295       Kennedy-Shaffer Lee     5.0         1 ratings            Mathematics
304             Ah-Young Song     5.0         8 ratings              Education
307                Abby Saxon     4.8         6 ratings                  Dance
312            Yuko Matsubara     4.9        13 ratings               Japanese
320           Adedoyin Teriba     5.0         5 ratings            Art History
325               Erica Stein     5.0         6 ratings                   Film
332                Agnes Veto     5.0         9 ratings         Judaic Studies
335               Lori Newman     5.0         3 ratings             Psychology
341              Anne Brancky     4.8        16 ratings                 French
346            Mary Nessinger     5.0         6 ratings                  Music
348        Maria Hantzopoulos     4.9        13 ratings              Education
351            Rebecca Pollet     5.0         1 ratings           Biochemistry
352             Joshua Rogers     5.0         1 ratings               Japanese
353                Juan Merlo     5.0         2 ratings                Physics
358                  Tom Hill     5.0         3 ratings                English
364               Luke Parker     5.0         1 ratings  Greek & Roman Studies
367   Alison Spodek Keimowitz     4.9         9 ratings              Chemistry
378               Jan Cameron     4.8        30 ratings            Mathematics
379            Rebecca Pollet     5.0         1 ratings              Chemistry
381              Leslie Sachs     5.0         1 ratings                  Dance
409  George Ciccariello-Maher     5.0         4 ratings      Political Science
410           Daniel Mendiola     5.0         1 ratings                History
412             Carolyn Tobin     5.0         1 ratings  Greek & Roman Studies
423         Leonisa Ardizzone     5.0         3 ratings              Education

In [51]:
# Creating a list of possible majors for the user to choose from
major_list = ['Business', 'Science', 'Engineering', 'Communications', 'Humanities', 'Religious_Studies', 'Arts', 
              'Education', 'Political_Science_and_Law']

In [52]:
print(major_list.index('Business'))

0

In [62]:
# Creating classes which professors could teach based on their respective major
Business = ['Finance', 'Marketing', 'Accounting', 'Business', 'Administration', 'Economics', 'Management', 'Statistics']
Science = ['Biology', 'Chemistry', 'Science', 'Agriculture', 'Mathematics', 'Physics', 'Psychology', 'Statistics']
Engineering = ['Architecture', 'Computer Science', 'Engineering', 'Information Science', 'Mathematics']
Communications = ['Communication', 'Hospitality', 'Journalism', 'Writing']
Humanities = ['English', 'Humanities', 'Languages', 'Classical Studies', 'Classics', 'Ethnic Studies', 'Literature', 
             'Modern Languages', 'Philosophy', 'Woman\'s Studies', 'Writing']
# Some classes apply to multiple majors
Religious_Studies = ['Religion', 'Religious Studies', 'Theology']
Arts = ['Art History', 'Design', 'Film', 'Fine Arts', 'Graphic Arts', 'Music', 'Theater']
Education = ['Education']
Political_Science_and_Law = ['Anthropology', 'Criminal Justice', 'Ethnic Studies', 'History', 'International Studies', 
                            'Latin American Studies', 'Law', 'Political Science', 'Social Science', 'Social Work', 
                            'Sociology']

# A list of lists in the same order as the list of majors so that they have the same indexes
major_list_list = [Business, Science, Engineering, Communications, Humanities, Religious_Studies, Arts, Education, Political_Science_and_Law]

In [63]:
# while_variable back again
while_variable = 0

while while_variable == 0:
    
    # Showing and asking the user to input a major
    print(major_list)
    major = input('Please select your expected major\n>>')
    
    # Checking if a major was selected
    if major in major_list:
        # Grabbing the corresponding list
        major_index = major_list.index(major)
        major_choice = major_list_list[major_index]
        # Breaking the while loop
        while_variable += 1
    # Telling the user to type correctly
    else:
        print('\n\n\n\nPlease try again, the majors are case sensitive')

['Business', 'Science', 'Engineering', 'Communications', 'Humanities', 'Religious_Studies', 'Arts', 'Education', 'Political_Science_and_Law']
Please select your expected major
>>Education

In [64]:
# New dataframe with professors greater than a certain rating within the selected major field
New_df = Rate_My_Professor_Dataframe.loc[(Rate_My_Professor_Dataframe['Rating'] >= 4.5) &
          Rate_My_Professor_Dataframe['Subject'].isin(major_choice)]

# In the order desired
New_df = New_df.sort_values(by = ['Rating'], ascending = False)

# Presentation of professors
New_df

                        Name  Rating Number of Ratings    Subject
304            Ah-Young Song     5.0         8 ratings  Education
423        Leonisa Ardizzone     5.0         3 ratings  Education
348       Maria Hantzopoulos     4.9        13 ratings  Education
219  Kimberly Williams Brown     4.8         6 ratings  Education
225           Jaime Del Razo     4.8         4 ratings  Education
111           Erin McCloskey     4.7        13 ratings  Education
61               Chris Bjork     4.6        19 ratings  Education
31             Chris Roellke     4.5         8 ratings  Education
74             Nancy Willard     4.5         7 ratings  Education